body{
	background:url('../image/background.jpg');
	background-size: cover;
}
.register{
	width: 550px;
	height:400px;
	background: #fff;
	margin-top: 15%;
	margin-left: 45%;
}
label{
	float:left;
	font-size:20px;
}